# upstash-vector DB
aiplattform2_UPSTASH_VECTOR_REST_READONLY_TOKEN=""
aiplattform2_UPSTASH_VECTOR_REST_TOKEN=""
aiplattform2_UPSTASH_VECTOR_REST_URL="https://strong-sunbird-84572-eu1-vector.upstash.io"
